<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <title>About 정유석</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9470a50b12.js" crossorigin="anonymous"></script>
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
          }
    </style>

</head>
<body>
{% include 'blog/navbar.html' %}
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mt-4">
                <h1><font size="15em">강원도 속초시</font><a id="kakao-link-btn" href="javascript:kakaoShare()">
    	<img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
    </a></h1>
                <p>
                    #대포항 #낙산사 #갯배체험 #닭강정 #아바이마을 <br>
                    #해맞이 #감자옹심이 #설악산 #벽화마을
                </p>

                <p><font size="3.7em">약 50m 길이의 구름다리를 건너면 바다와 마주할 수 있는 속초 영금정.</font></p>
                <p><font size="3.7em">일출 명소로도 알려진 이곳은 동해안의 시원한 절경을 감상할 수 있는 최적의 장소이다.</font></p>
                <p><font size="3.7em">옛날 항구의 고유 분위기는 사라졌지만, '새우튀김 골목'으로 재탄생한 대포항은 여전히 속초 대표 방문 코스!</font></p>
                <p><font size="3.7em">아바이 순대로 유명한 아바이마을도 빼놓을 수 없는 인기 여행지이다.</font></p>

            </div>
            <div class="col-lg-4">
                <a href="https://korean.visitkorea.or.kr/detail/rem_detail.do?cotid=7095706d-a2ca-4584-8310-8f36d0e3d16e&con_type=11300">
                    <img src="{% static 'single_pages/images/속초/속초지도.png' %}" width="300" height="300">
                    <div align="center">
                    <p>위 그림믈 눌러보세요!</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>속초 즐길거리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#속초1">
                    <img class="card-img=top" src="{% static 'single_pages/images/속초/낙산사.jpg' %}" width="350" height=234>
                    <div class="card-body">
                        <h5 class="card-title">낙산사</h5>
                        <p>#가족여행 #드라이브코스 #힐링 #사진맛집</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#속초2">
                    <img class="card-img=top" src="{% static 'single_pages/images/속초/갯배마을.jpg' %}" width="350" height=234">
                    <div class="card-body">
                        <h5 class="card-title">속초갯배체험</h5>
                        <p>#아바이마을 #관광지 #가족체험 #이색체험</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#속초3">
                    <img class="card-img=top" src="{% static 'single_pages/images/속초/아바이순대.jpg' %}" width="350" height=234">
                    <div class="card-body">
                        <h5 class="card-title">아바이순대</h5>
                        <p>#한국관광100선 #속초아바이마을 #갯배선착장</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="속초1" tabindex="-1" aria-labelledby="속초1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="속초1ModalLabel">낙산사</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/속초/낙산사.jpg' %}" width="350" height=234">
                    </div>
                    <div class="col-lg-5">
                        <p>신라시대 문무왕 시절 창건된 낙산사는 남해의 보리암, 강화의 보문사와 함께 3대 관음도량이자,
                            강원도를 중심으로 한 '관동팔경' 중 하나로 알려져 있습니다.
                            7층 석탑과 관세음보살상이 자리 잡고 있는 원통보전, 수평선이 바라보이는 의상대와 홍련암 등을 찾아볼 수 있습니다.<br>
                            깊은 동해, 사찰 지붕의 청기와, 그리고 그 푸르름을 배경으로 서 있는 해수관음상까지
                            차분한 발걸음으로 거닐기 시작한 낙산사의 풍경들은 마음속에 여유를 만들어 줍니다.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="속초2" tabindex="-1" aria-labelledby="속초2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="속초2ModalLabel">속초갯배마을</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/속초/갯배마을.jpg' %}" width="350" height="234">
                    </div>
                    <div class="col-lg-5">
                        <p>청초호 하구에 형성된 아바이마을을 건너가는 이색적인 교통수단이다.
                           시내와 아바이마을 사이를 가로지르는 50m 남짓한 물길을 갯배를 이용해 빠르게 이동할 수 있다. <br>
                           작은 바지선 형태인 갯배는 직접 사람이 와이어 줄을 끌어당겨야 움직이는 무동력 운반선이다.
                           수로 양쪽에 튼튼한 철선을 고정시킨 후 갈고리를 걸어 힘껏 당기면 배가 천천히 앞으로 나아간다.
                           사공이 따로 있지 않기 때문에 배에 탄 사람들이 함께 힘을 합쳐 배를 끌어야 한다.
                           갯배를 탑승해 수로를 건너는 시간은 약 5분 정도다. <br>
                           속초에서만 체험할 수 있는 독특한 문화로 지금도 많은 관광객들이 찾고 있습니다.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="속초3" tabindex="-1" aria-labelledby="속초3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="속초3Label">아바이순대</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/속초/아바이순대.jpg' %}" width="350" height=234>
                    </div>
                    <div class="col-lg-5">
                        <p>아바이순대는 주로 돼지의 대창 속에 익힌 찹쌀밥, 선지, 여러 가지 부재료 등의 소를 넣고 쪄낸 순대입니다.<br>
                            아버지의 함경도 사투리인 '아바이'가 의미하는 대로 크고 푸짐하며, 다른지역의 순대와 차별된 맛을 가지고있습니다다</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
  // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('105bc6e609375c497054e99a6211706a');

  // SDK 초기화 여부를 판단합니다.
  console.log(Kakao.isInitialized());

  function kakaoShare() {
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '너도 같이 여행을 떠나볼래?',
        description: '끝이 보이는 코로나! 국내 여행을 떠나보자! ',
        imageUrl: 'https://raw.githubusercontent.com/huiji0315/travel_recommendation/master/img/main.png',
        link: {
          mobileWebUrl: 'http://127.0.0.1:8000',
          webUrl: 'http://127.0.0.1:8000',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'http://127.0.0.1:8000',
            webUrl: 'http://127.0.0.1:8000',
          },
        },
      ],
      // 카카오톡 미설치 시 카카오톡 설치 경로이동
      installTalk: true,
    })
  }
</script>
</html>