<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <title>About 정유석</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9470a50b12.js" crossorigin="anonymous"></script>
    <link href="{% static 'single_pages/css/about_me.css' %}" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
          }
    </style>

</head>
<body>
{% include 'blog/navbar.html' %}
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mt-4">
                <h1><font size="15em">제주특별자치도</font><a id="kakao-link-btn" href="javascript:kakaoShare()">
    	<img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
    </a></h1>
                <p>
                    #절물자연휴양림 #대포 주상절리 #정방폭포 #동문시장 #토종흑염소목장 #제트 <br>
                    #애월빵공장 #무지개해안도로 #해변 #돔베고기 #루지 #해녀해물다찌
                </p>

                <p><font size="3.7em">제주특별자치도에는 한국의 다른 지방과 다른 독특한 문화가 있다.</font></p>
                <p><font size="3.7em">제주특별자치도에는 여러 전설과 설화가 이어져 내려오고 있으며 유명한 설화로는 설문대할망 설화, 삼성혈, 이어도 설화 설화 등이 대표적이다.</font></p>

            </div>
            <div class="col-lg-4">
                <a href="https://korean.visitkorea.or.kr/detail/cs_detail_cos.do?cotid=dd18f6b4-c48b-4ffe-8be4-d24bf6aa07da&big_category=C01&mid_category=C0114&big_area=39">
                    <img src="{% static 'single_pages/images/제주/제주지도.jpg' %}" width="300" height="300">
                    <div align="center">
                    <p>위 그림을 눌러보세요!</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>제주 즐길거리</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#제주1">
                    <img class="card-img=top" src="{% static 'single_pages/images/제주/절물자연휴양림.jpg' %}" width="350" height=234>
                    <div class="card-body">
                        <h5 class="card-title">절물자연휴양림</h5>
                        <p>#산책로 #절물오름 #분화구 #약수터</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#제주2">
                    <img class="card-img=top" src="{% static 'single_pages/images/제주/정방폭포.jpg' %}" width="350" height=234">
                    <div class="card-body">
                        <h5 class="card-title">정방폭포</h5>
                        <p>#힐링 #해안폭포 #수목 #신비로움</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#제주3">
                    <img class="card-img=top" src="{% static 'single_pages/images/제주/돔베고기.jpg' %}" width="350" height=234">
                    <div class="card-body">
                        <h5 class="card-title">돔베고기</h5>
                        <p>#돼지고기 #로컬푸드 #흑돼지</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="제주1" tabindex="-1" aria-labelledby="제주1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="제주1ModalLabel">절물자연휴양림</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/제주/절물자연휴양림.jpg' %}" width="350" height=234">
                    </div>
                    <div class="col-lg-5">
                        <p>삼나무와 곰솔 조림지에 조성된 산책로와 그늘공간은 바다에서 불어오는 시원한 바람과 절묘한 조화를 이뤄 한 여름에도 시원한 한기를 느낄 수 있다.
                            이곳 삼나무 우량조림지는 자연휴양림으로 개발되면서 전국에서 가장 많은 사람이 방문하는 유명한 산림 휴식공간을 제공하고 있다.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="제주2" tabindex="-1" aria-labelledby="제주2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="제주2ModalLabel">정방폭포</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/제주/정방폭포.jpg' %}" width="350" height="234">
                    </div>
                    <div class="col-lg-5">
                        <p>천지연, 천제연과 더불어 제주도내 3대 폭포중의 하나인 정방폭포는 서귀포시 중심가에서 약 1.5㎞ 동남쪽에 위치해 있다.
                            웅장한 폭포음과 쏟아지는 물줄기에 햇빛이 반사되면, 일곱색깔의 무지개가 푸른 바다와 함께 어우러져 신비의 황홀경을 연출한다.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="제주3" tabindex="-1" aria-labelledby="제주3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="제주3Label">돔베고기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/제주/돔베고기.jpg' %}" width="350" height=234>
                    </div>
                    <div class="col-lg-5">
                        <p>예로부터 제주 도민들이 즐겨 먹는 삶은 돼지고기 요리인 ‘돔베고기’는 도마 위에 바로 썬 삶은 돼지고기라는 제주도 말이다.
                            기름기가 쫙 빠져서 담백한 맛이 일품인 돔베고기는 다이어트에도 좋아 미용에 관심이 많은 젊은 여성들이 더 좋아한다.</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript">
  // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('105bc6e609375c497054e99a6211706a');

  // SDK 초기화 여부를 판단합니다.
  console.log(Kakao.isInitialized());

  function kakaoShare() {
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '너도 같이 여행을 떠나볼래?',
        description: '끝이 보이는 코로나! 국내 여행을 떠나보자! ',
        imageUrl: 'https://raw.githubusercontent.com/huiji0315/travel_recommendation/master/img/main.png',
        link: {
          mobileWebUrl: 'http://127.0.0.1:8000',
          webUrl: 'http://127.0.0.1:8000',
        },
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'http://127.0.0.1:8000',
            webUrl: 'http://127.0.0.1:8000',
          },
        },
      ],
      // 카카오톡 미설치 시 카카오톡 설치 경로이동
      installTalk: true,
    })
  }
</script>
</html>